.portfolio-layout{
    display: flex;
}

.portfolio-layout-center{
    display: flex;
    align-items: center;
}
.portfolio-layout-column{
    display: flex;
    flex-direction: column;
}
.portfolio-layout-center-justify{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-layout-space-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-layout-space{
    display: flex;
    justify-content: space-between;
}