.portfolio-layout{
    display: flex;
}

.portfolio-layout-center{
    display: flex;
    align-items: center;
}
<<<<<<< HEAD
.portfolio-layout-column{
    display: flex;
    flex-direction: column;
}
=======
>>>>>>> 3de09f621408dce0f5a7be63bef8b988a2d74157
.portfolio-layout-center-justify{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-layout-space-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-layout-space{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3de09f621408dce0f5a7be63bef8b988a2d74157
