.portfolio-layout{
    display: flex;
}

.portfolio-layout-center{
    display: flex;
    align-items: center;
}

.portfolio-layout-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}